
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashborad{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="...">Adiciona Patrimonio</a>
{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
            <tr>
                <td>Some Column</td>
                <td>Another Column</td>
            </tr>
        </thead>
        <tbody>
           dd
        </tbody>
    </table>
{% endblock %}